body{
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
}
.container{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-card{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    width: 35%;
    background-color: hsl(0,0%,100%);
    padding: 20px;
    border-radius: 20px;
}
@font-face {
    font-family: "Work sans";
    src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");

}
@font-face {
    font-family: "WorkSans";
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}
.faq-title{
    display: flex;
    flex-direction: row;
}
h1{
    font-family: "Worksans",sans-serif;
}

p{
    font-size: 16px;
}
.question-one{
    font-family: "Worksans",sans-serif;
    font-weight: 600;
}
.question-two{
    font-family: "Worksans",sans-serif;
    font-weight: 600;
}
.question-two img{
    margin-left: 200px;
}
.question-three{
    font-family: "Worksans",sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.question-three img{
    margin-left: 12px;
}
.question-four{
    font-family: "Worksans",sans-serif;
    font-weight: 600;   
}
.question-four img{
    margin-left: 25px;
}
span:hover{
    color: hsl(292, 16%, 49%);
    cursor: pointer;
}
#information{
    display: hidden;
}
p{
    display: none;
}